.jumbotron {
  padding-top: 6rem;
  background-color: #635c4c;
}

#projects {
  background-color: #635c4c;
}

section {
  padding-top: 5rem;
}

.footer {
  box-sizing: none;
}

.navbar {
  background-color: #b5a98f;
}

.light {
  color: #b5a98f;
}

.dark {
  color: #635c4c;
  text-decoration: none;
}

.bord {
  border-radius: 3px;
  border-color: #b5a98f;
  background-color: #b5a98f;
}

.lightbg {
  background-color: #b5a98f;
}

.darkbg {
  background-color: #635c4c;
}
